<h1>LogIn ^_^</h1>
<div class="alert alert-danger" *ngIf="msg!=null">
  {{msg}}
</div>
<form class="w-50 mx-auto" [formGroup]="myForm" (ngSubmit)="checkUser(myForm)">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control" formControlName="email">
  </div>
  <div class="alert alert-danger" *ngIf="myForm.controls['email'].invalid && myForm.controls['email'].touched">
    <div *ngIf="myForm.controls['email'].hasError('required')">this is a required field</div>
    <div *ngIf="myForm.controls['email'].hasError('minlength')">minlength is equal to 3</div>
  </div>
  <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" formControlName="password">
  </div>
  <div class="alert alert-danger" *ngIf="myForm.controls['password'].invalid && myForm.controls['password'].touched">
    <div *ngIf="myForm.controls['password'].hasError('required')">this is a required field</div>
  </div>
  <br>
  <button type="submit" class="btn btn-outline-primary" [hidden]="myForm.invalid">Login</button>
  &nbsp;
  <button type="reset" class="btn btn-outline-warning">reset</button>
</form>
